* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style */

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-noto-serif {
    font-family: "Noto Serif", serif;
}

.main-width {
    max-width: 1140px;
    margin: 0 auto;
}

:root {
    --main-color: #E95A08;
    --main-font-color: #000000;
    --secoudary-font-color: #7b7c80;

}

.common-section-title {
    font-size: 3.12rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.common-section-title span {
    color: var(--main-color);
}

.common-section-sub-title {
    font-size: 1.37rem;
    color: var(--secoudary-font-color);
    text-align: center;
    max-width: 888px;
    margin: auto;
}

/* nav style here */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 120px;
}

.menu {
    display: flex;

}

.menu li {
    list-style: none;
    margin-left: 48px;

}

.menu li a {
    text-decoration: none;

}

#menu-home {
    font-weight: bold;
    color: #252432;
}

.menu-gray {
    color: var(--secoudary-font-color);
}

#menu-card {
    color: var(--main-font-color);
    font-weight: 500;
}

/* banner style here */
.banner {
    display: flex;
    align-items: end;
    margin-bottom: 120px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 13px;

}

.banner-title span {
    color: var(--main-color);
}

.banner-description {
    font-size: 1.37rem;
    color: var(--secoudary-font-color);
}

/* plalnts section style here */
.card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

.item {
    text-align: center;
}

.item h4 {
    font-size: 1.37rem;
    font-weight: 500;
    margin-top: 25px;

}

.item h3 {
    font-size: 1.37rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 25px;
}

.item-btn {
    background-color: var(--main-color);
    color: white;
    padding: 20px 50px;
    width: 100%;
    border: none;
    font-size: 1rem;
}

/* Plants Lover Section style */
.plants-lover-section {
    margin-top: 210px;
    display: flex;
    /* gap: 60px; */
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    position: relative;
}

.plants-lover-section-img img {
    width: 100%;
    max-height: 530px;

}

.plants-lover-section-img {
    flex: 1;
}

.plants-lover-section-content {
    flex: 1;
    margin-left: 25px;
}

.plants-lover-section-content h1 {
    font-size: 3.12rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.plants-lover-section-content ul li {
    color: var(--secoudary-font-color);
    font-size: 1.37rem;
    margin-bottom: 20px;
}

.plants-lover-section-badge {
    max-width: 286px;
    position: absolute;
    top: -127px;
    left: 347px;
}

.plants-lover-section-badge img {
    width: 100%;

}

/* Latest Deal Section style */
.deal-section {
    margin-top: 133px;

}

.bg-img-container {
    margin-top: 90px;
    margin-bottom: 120px;
    display: flex;
    gap: 28px;
    justify-content: space-between;
}

.bg-img-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bg-img-left-top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(./assets/deal-bloom.png);
    height: 50%;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.bg-img-left-top h3 {
    font-family: 1.25rem;
    font-weight: bold;
}

.bg-img-left-top a {
    font-size: 1rem;
    text-decoration: underline;
    padding: 10px;

}

.bg-img-left-bottom {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/deal-ana.png);
    height: 50%;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.bg-img-left-bottom h3 {
    font-family: 1.25rem;
    font-weight: bold;
}

.bg-img-left-bottom a {
    font-size: 1rem;
    text-decoration: underline;
    padding: 10px;

}

.bg-img-right {
    width: 70%;
    height: 423px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/deal-zabo.png);
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.bg-img-right h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

.bg-img-right a {
    font-size: 1.75rem;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 10px;
}

/* Join Section */
.join-section {
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 533px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.join-section-content-contaier {
    max-width: 830px;


}

.join-section-content-contaier h1 {
    font-size: 3.12rem;
    font-weight: bold;
    color: white;
    margin: 23px 122px;

}
.input{
    display: flex;
}
#email-input{
    width: 70%;
    padding: 15px 20px;
    border: none;
}
#submit-btn{
    width: 30%;
    padding: 15px 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
}
/* footer section style here */  
       
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    gap: 110px;
    justify-content: space-between;
}
.footer-logo{
    max-width: 350px;
    cursor: pointer;
    
}
.footer-logo p {
    font-size: 1.37rem;
    color: var(--secoudary-font-color);
    margin-top: 16px;
}
footer ul li{
    color: var(--secoudary-font-color);
    font-size: 1.5rem;
    list-style: none;
    line-height: 50px;
    cursor: pointer;
}

.social-media {
    max-width: 216px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    
}
.social-media img{
 width: 100%;
}